<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get solution</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>

    body {
        background-color: pink;
    }
    table {
        width: 100%;
    }

    img {
        width: 100%;
    }
</style>
<body>
<br>
x0 = {{ x0 }} <br>
y0 = {{ y0 }} <br>
x = {{ x }} <br>
n = {{ n }} <br>
<table>
    <tr>
        <td><img src="data:image/png;base64, {{ image_em }}"/></td>
        <td><img src="data:image/png;base64, {{ image_iem }}"/></td>
        <td><img src="data:image/png;base64, {{ image_rkm }}"/></td>
    </tr>
</table>
</body>
</html>