<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get solution</title>
</head>
<body>
    <table>
        <tr>
            <td>Euler's Method</td>
            <td>Improved Euler's Method</td>
            <td>Runge-Kutta Method</td>
        </tr>
        <tr>
            <td><img src="../../../euler_method_solution.png"></td>
            <td><img src="../../../improved_euler_method_solution.png"></td>
            <td><img src="../../../runge_kutta_method_solution.png"></td>
        </tr>
    </table>
</body>
</html>