<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get solution</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>

    body {
        background-color: pink;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    }
    table {
        width: 100%;
    }

    img {
        width: 100%;
    }

    h3 {
        margin-left: 3%;
    }
</style>
<body>
<br>
<h3>x0 = {{ x0 }}</h3>
<h3>y0 = {{ y0 }}</h3>
<h3>x = {{ x }}</h3>
<h3>n = {{ n }}</h3>

<table>
    <tr>
        <td><img src="data:image/png;base64, {{ image_em }}"/></td>
        <td><img src="data:image/png;base64, {{ image_iem }}"/></td>
        <td><img src="data:image/png;base64, {{ image_rkm }}"/></td>
    </tr>
</table>
</body>
</html>